{% load static %}

<html>

<link rel="shortcut icon" type="image/png" href="{% static 'pSite/images/favicon.ico' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'pSite/css/style.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'pSite/css/uikit.min.css' %}" />

<script src="{% static "pSite/js/jquery-3.1.1.min.js" %}" type="text/javascript" charset="utf-8"></script>
<script src="{% static "pSite/js/app.js" %}" type="text/javascript" charset="utf-8"></script>
<script src="{% static "pSite/js/uikit.min.js" %}" type="text/javascript" charset="utf-8"></script>
<script src="{% static "pSite/js/uikit-icons.min.js" %}" type="text/javascript" charset="utf-8"></script>
<script src="https://js.stripe.com/v3/"></script>

<head>
  <title>Here & Now</title>
</head>

<body>

  <div class="nav-padding uk-background-muted">

    <nav class="uk-navbar-container" uk-navbar>
      <div class="uk-navbar-left">
        <ul class="uk-navbar-nav">
          <li class="uk-active"><a href="/" class="uk-text-lowercase">brand</a></li>
        </ul>
      </div>
      <div class="uk-navbar-right">
        <ul class="uk-navbar-nav">
          {% if active == 0 %}
          <li class="uk-active"><a href="/" class="uk-text-lowercase">shop</a></li>
          <li><a href="about" class="uk-text-lowercase">about</a></li>
          {% elif active == 1 %}
          <li><a href="/" class="uk-text-lowercase">shop</a></li>
          <li class="uk-active"><a href="about" class="uk-text-lowercase">about</a></li>

          {% endif %}

        </ul>
      </div>
    </nav>


    <div id="content" class="hide-for-load content-padding" style="display: none;">

      {% block content %}
      {% endblock %}
      <div class="uk-margin-large-top">
        <p class="uk-align-right">©️ {% now "Y" %} Josh Hayter</p>
      </div>
    </div>
  </div>
</body>

</html>
